<mat-toolbar class="navbar" color="warn">

    <div class="spacer"></div>

    <a mat-stroked-button>Inicio</a>
    <a mat-stroked-button>Tienda</a>
    <a mat-stroked-button>Contacto</a>
    <a mat-stroked-button>Carrito</a>
    <a mat-raised-button color="primary">Ingresar</a>

</mat-toolbar>

<header class="header">
    <img src="assets/img/logofinal1.png" alt="logoverduleria" class="logo_verdu" width="682" height="260">
</header>
<div class="menu">
    <nav class="menu_ul">
        <ul>
            <li><a class="ai" href="#">Inicio</a></li>
            <li><a class="ai" href="#">Tienda</a></li>
            <li><a class="ai" href="#">Contacto</a></li>
            <li><a class="ai" href="#">Carrito</a></li>
            <li class="right"><a href="#">Iniciar Sesion</a></li>
            <li class="right"><a href="#">Registrarse</a></li>
        </ul>
    </nav>
</div>
